---
import { services, type Service } from "../lib/services";

interface Props {
  service: Service;
  handle?: string;
  url: string;
}

const { handle, url } = Astro.props;
const { label, Icon } = services[Astro.props.service];
const title = handle ? `${handle} on ${label}` : `Follow me on ${label}`;
---

<a
  href={url}
  class="link link-hover text-base-content hover:text-secondary inline-flex"
  title={title}
  aria-label={title}
>
  <Icon class="size-6" style="fill: currentColor" aria-hidden="true" />
  <span class="sr-only">{title}</span>
</a>
